################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BehindCode/Infrastructure.IoC/bin/Debug/netstandard2.0
