<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="QuickSort">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn shadow-5 btn-info" type="button" (click)="excecuteAlgorithm()">Excecute
                        QuickSort</button>
                </div>
                <div class="col-md-3">
                    <button class="btn shadow-5 btn-info" type="button" (click)="resetAlgorithm()">Reset</button>
                </div>
            </div>
            <div class="row">
                <ul class="sort_ul">
                    <li *ngFor="let data of datas" class="sort_li"><span class="sort_span"
                            [ngStyle]="{'height' : data.value + '%', 'background': data.change ? 'red': 'linear-gradient(to bottom ,  #1de9b6, #1dc4e9)'}"></span></li>
                </ul>
            </div>
        </app-card>
    </div>
</div>